In [120]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline

In [121]:
df = pd.read_csv('crimestats.csv')
print(df)
df['Murder']=df['Murder and\nnonnegligent\nmanslaughter']

                                                  City Population  \
0                                        Adams Village      1,861
1                             Addison Town and Village      2,577
2                                        Akron Village      2,846
3                                               Albany     97,956
4                                       Albion Village      6,388
5                                       Alfred Village      4,089
6                                     Allegany Village      1,781
7                                         Amherst Town    118,296
8                                   Amityville Village      9,519
9                                            Amsterdam     18,182
10                                      Arcade Village      2,053
11                                     Ardsley Village      4,523
12                                   Asharoken Village        658
13                                      Attica Village      2,522
14                                              Auburn     27,270
15                                        Avon Village      3,333
16                               Baldwinsville Village      7,473
17                                Ballston Spa Village      5,418
18                                             Batavia     15,374
19                                        Bath Village      5,733
20                                        Bedford Town     17,627
21                                      Bethlehem Town     34,243
22                                          Binghamton     46,304
23                                         Black River      1,410
24                                 Blooming Grove Town     12,001
25                                     Bolivar Village      1,022
26                                         Bolton Town      2,325
27                                   Boonville Village      2,054
28                                          Brant Town      2,065
29                                            Brewster      2,358
..                                                 ...        ...
321                                              Utica     61,686
322                                        Vestal Town     27,980
323                                     Walden Village      6,887
324                                      Wallkill Town     27,940
325                                     Walton Village      3,012
326                                     Warsaw Village      3,453
327                            Washingtonville Village      5,828
328                         Waterford Town and Village      8,392
329                                   Waterloo Village      5,175
330                                          Watertown     28,179
331                                         Watervliet     10,245
332                               Watkins Glen Village      1,862
333                                    Waverly Village      4,337
334                           Webster Town and Village     43,777
335                                  Weedsport Village      1,797
336                                 Wellsville Village      4,574
337                          Westhampton Beach Village      1,732
338                                   West Seneca Town     44,821
339                                  Whitehall Village      2,604
340                                       White Plains     57,559
341                                 Whitesboro Village      3,733
342                                    Whitestown Town      9,141
343                                      Woodbury Town     10,685
344                                  Woodridge Village        829
345                                     Woodstock Town      5,931
346                                            Yonkers    199,134
347                                      Yorktown Town     36,643
348  1 The figures shown in this column for the off...        NaN
349  2 The figures shown in this column for the off...        NaN
350  3 The FBI does not publish arson data unless i...        NaN

    Violent\ncrime  Murder and\nnonnegligent\nmanslaughter  \
0                0                                     0.0
1                3                                     0.0
2                3                                     0.0
3              791                                     8.0
4               23                                     0.0
5                5                                     0.0
6                3                                     0.0
7              107                                     1.0
8                9                                     0.0
9               30                                     0.0
10               0                                     0.0
11               5                                     0.0
12               0                                     0.0
13               2                                     0.0
14              96                                     1.0
15               1                                     0.0
16               5                                     0.0
17               8                                     0.0
18              57                                     0.0
19              15                                     0.0
20               5                                     0.0
21              13                                     0.0
22             284                                     3.0
23               0                                     0.0
24               8                                     0.0
25               1                                     0.0
26               2                                     0.0
27               1                                     0.0
28               4                                     0.0
29               0                                     0.0
..             ...                                     ...
321            361                                     7.0
322             16                                     0.0
323             18                                     1.0
324             40                                     0.0
325              6                                     0.0
326              6                                     0.0
327              2                                     0.0
328              4                                     0.0
329             11                                     0.0
330            109                                     0.0
331             26                                     1.0
332              6                                     0.0
333              5                                     0.0
334             21                                     0.0
335              0                                     0.0
336             11                                     0.0
337              2                                     0.0
338             35                                     1.0
339              6                                     0.0
340             78                                     1.0
341              4                                     0.0
342              0                                     0.0
343              3                                     0.0
344              7                                     0.0
345              2                                     0.0
346          1,036                                     6.0
347             15                                     0.0
348            NaN                                     NaN
349            NaN                                     NaN
350            NaN                                     NaN

     Rape\n(revised\ndefinition)1 Rape\n(legacy\ndefinition)2 Robbery  \
0                             NaN                           0       0
1                             NaN                           0       0
2                             NaN                           0       0
3                             NaN                          30     227
4                             NaN                           3       4
5                             NaN                           0       3
6                             NaN                           0       0
7                             NaN                           7      31
8                             NaN                           2       4
9                             NaN                           0      12
10                            NaN                           0       0
11                            NaN                           0       3
12                            NaN                           0       0
13                            NaN                           0       0
14                            NaN                          20      22
15                            NaN                           0       1
16                            NaN                           0       1
17                            NaN                           0       3
18                            NaN                           7      13
19                            NaN                           1       3
20                            NaN                           0       1
21                            NaN                           0       3
22                            NaN                          19     101
23                            NaN                           0       0
24                            NaN                           1       0
25                            NaN                           0       0
26                            NaN                           0       0
27                            NaN                           0       0
28                            NaN                           0       1
29                            NaN                           0       0
..                            ...                         ...     ...
321                           NaN                          27     102
322                           NaN                           2       6
323                           NaN                           2       1
324                           NaN                           3      16
325                           NaN                           1       0
326                           NaN                           1       0
327                           NaN                           0       1
328                           NaN                           0       0
329                           NaN                           0       3
330                           NaN                          12      16
331                           NaN                           3      11
332                           NaN                           0       0
333                           NaN                           0       1
334                           NaN                           2       3
335                           NaN                           0       0
336                           NaN                           1       0
337                           NaN                           0       0
338                           NaN                           1       9
339                           NaN                           0       0
340                           NaN                           3      28
341                           NaN                           0       0
342                           NaN                           0       0
343                           NaN                           0       2
344                           NaN                           0       0
345                           NaN                           0       0
346                           NaN                          25     390
347                           NaN                           0       2
348                           NaN                         NaN     NaN
349                           NaN                         NaN     NaN
350                           NaN                         NaN     NaN

    Aggravated\nassault Property\ncrime Burglary Larceny-\ntheft  \
0                     0              12        2              10
1                     3              24        3              20
2                     3              16        1              15
3                   526           4,090      705           3,243
4                    16             223       53             165
5                     2              46       10              36
6                     3              10        0              10
7                    68           2,118      204           1,882
8                     3             210       16             188
9                    18             405       99             291
10                    0              39        3              35
11                    2              33        4              28
12                    0               2        0               2
13                    2               5        0               4
14                   53             859      132             721
15                    0              25        3              20
16                    4              88       10              77
17                    5              94       16              78
18                   37             559      103             454
19                   11             191       32             157
20                    4             156       26             127
21                   10             442       50             388
22                  161           2,349      525           1,767
23                    0              14        2              12
24                    7              99       20              72
25                    1               4        2               2
26                    2              24        4              20
27                    1              20        6              14
28                    3              31        9              20
29                    0              13        3              10
..                  ...             ...      ...             ...
321                 225           2,528      449           1,997
322                   8             571       39             523
323                  14             142       13             124
324                  21             767       91             650
325                   5              68       18              50
326                   5              78        5              73
327                   1              58        5              51
328                   4              59        6              52
329                   8             194       23             169
330                  81           1,165      169             953
331                  11             242       58             163
332                   6              92       10              80
333                   4              54        9              41
334                  16             469      101             361
335                   0              25        5              20
336                  10             164       32             129
337                   2              44        4              37
338                  24             896      166             710
339                   6              62       12              49
340                  46           1,232       77           1,134
341                   4              36       14              21
342                   0              77       13              61
343                   1             541        9             529
344                   7              17        8               9
345                   2              58       13              45
346                 615           2,368      470           1,662
347                  13             334       45             287
348                 NaN             NaN      NaN             NaN
349                 NaN             NaN      NaN             NaN
350                 NaN             NaN      NaN             NaN

    Motor\nvehicle\ntheft  Arson3
0                       0     0.0
1                       1     0.0
2                       0     0.0
3                     142     NaN
4                       5     NaN
5                       0     NaN
6                       0     0.0
7                      32     3.0
8                       6     1.0
9                      15     0.0
10                      1     0.0
11                      1     0.0
12                      0     0.0
13                      1     0.0
14                      6     NaN
15                      2     NaN
16                      1     0.0
17                      0     1.0
18                      2     NaN
19                      2     2.0
20                      3     NaN
21                      4     NaN
22                     57     NaN
23                      0     0.0
24                      7     NaN
25                      0     0.0
26                      0     0.0
27                      0     0.0
28                      2     0.0
29                      0     0.0
..                    ...     ...
321                    82     NaN
322                     9     NaN
323                     5     NaN
324                    26     1.0
325                     0     NaN
326                     0     0.0
327                     2     0.0
328                     1     0.0
329                     2     NaN
330                    43     NaN
331                    21     NaN
332                     2     NaN
333                     4     NaN
334                     7     NaN
335                     0     0.0
336                     3     1.0
337                     3     0.0
338                    20     0.0
339                     1     NaN
340                    21     NaN
341                     1     0.0
342                     3     0.0
343                     3     NaN
344                     0     0.0
345                     0     NaN
346                   236    10.0
347                     2     NaN
348                   NaN     NaN
349                   NaN     NaN
350                   NaN     NaN

[351 rows x 13 columns]

In [122]:
report = pd.DataFrame(df,
                      columns=['City','Population','Murder','Robbery']
                     )
report

,City,Population,Murder,Robbery
0,Adams Village,"1,861",0.0,0
1,Addison Town and Village,"2,577",0.0,0
2,Akron Village,"2,846",0.0,0
3,Albany,"97,956",8.0,227
4,Albion Village,"6,388",0.0,4
5,Alfred Village,"4,089",0.0,3
6,Allegany Village,"1,781",0.0,0
7,Amherst Town,"118,296",1.0,31
8,Amityville Village,"9,519",0.0,4
9,Amsterdam,"18,182",0.0,12
10,Arcade Village,"2,053",0.0,0
11,Ardsley Village,"4,523",0.0,3
12,Asharoken Village,658,0.0,0
13,Attica Village,"2,522",0.0,0
14,Auburn,"27,270",1.0,22
15,Avon Village,"3,333",0.0,1
16,Baldwinsville Village,"7,473",0.0,1
17,Ballston Spa Village,"5,418",0.0,3
18,Batavia,"15,374",0.0,13
19,Bath Village,"5,733",0.0,3
20,Bedford Town,"17,627",0.0,1
21,Bethlehem Town,"34,243",0.0,3
22,Binghamton,"46,304",3.0,101
23,Black River,"1,410",0.0,0
24,Blooming Grove Town,"12,001",0.0,0
25,Bolivar Village,"1,022",0.0,0
26,Bolton Town,"2,325",0.0,0
27,Boonville Village,"2,054",0.0,0
28,Brant Town,"2,065",0.0,1
29,Brewster,"2,358",0.0,0
...,...,...,...,...
321,Utica,"61,686",7.0,102
322,Vestal Town,"27,980",0.0,6
323,Walden Village,"6,887",1.0,1
324,Wallkill Town,"27,940",0.0,16
325,Walton Village,"3,012",0.0,0
326,Warsaw Village,"3,453",0.0,0
327,Washingtonville Village,"5,828",0.0,1
328,Waterford Town and Village,"8,392",0.0,0
329,Waterloo Village,"5,175",0.0,3
330,Watertown,"28,179",0.0,16
331,Watervliet,"10,245",1.0,11
332,Watkins Glen Village,"1,862",0.0,0
333,Waverly Village,"4,337",0.0,1
334,Webster Town and Village,"43,777",0.0,3
335,Weedsport Village,"1,797",0.0,0
336,Wellsville Village,"4,574",0.0,0
337,Westhampton Beach Village,"1,732",0.0,0
338,West Seneca Town,"44,821",1.0,9
339,Whitehall Village,"2,604",0.0,0
340,White Plains,"57,559",1.0,28
341,Whitesboro Village,"3,733",0.0,0
342,Whitestown Town,"9,141",0.0,0
343,Woodbury Town,"10,685",0.0,2
344,Woodridge Village,829,0.0,0
345,Woodstock Town,"5,931",0.0,0
346,Yonkers,"199,134",6.0,390
347,Yorktown Town,"36,643",0.0,2
348,1 The figures shown in this column for the off...,NaN,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN

In [123]:
report=report.drop([348,349,350])
report

                           City Population  Murder Robbery
0                 Adams Village      1,861     0.0       0
1      Addison Town and Village      2,577     0.0       0
2                 Akron Village      2,846     0.0       0
3                        Albany     97,956     8.0     227
4                Albion Village      6,388     0.0       4
5                Alfred Village      4,089     0.0       3
6              Allegany Village      1,781     0.0       0
7                  Amherst Town    118,296     1.0      31
8            Amityville Village      9,519     0.0       4
9                     Amsterdam     18,182     0.0      12
10               Arcade Village      2,053     0.0       0
11              Ardsley Village      4,523     0.0       3
12            Asharoken Village        658     0.0       0
13               Attica Village      2,522     0.0       0
14                       Auburn     27,270     1.0      22
15                 Avon Village      3,333     0.0       1
16        Baldwinsville Village      7,473     0.0       1
17         Ballston Spa Village      5,418     0.0       3
18                      Batavia     15,374     0.0      13
19                 Bath Village      5,733     0.0       3
20                 Bedford Town     17,627     0.0       1
21               Bethlehem Town     34,243     0.0       3
22                   Binghamton     46,304     3.0     101
23                  Black River      1,410     0.0       0
24          Blooming Grove Town     12,001     0.0       0
25              Bolivar Village      1,022     0.0       0
26                  Bolton Town      2,325     0.0       0
27            Boonville Village      2,054     0.0       0
28                   Brant Town      2,065     0.0       1
29                     Brewster      2,358     0.0       0
..                          ...        ...     ...     ...
318         Tupper Lake Village      3,642     0.0       0
319         Tuxedo Park Village        615     0.0       0
320                 Ulster Town     12,195     0.0       2
321                       Utica     61,686     7.0     102
322                 Vestal Town     27,980     0.0       6
323              Walden Village      6,887     1.0       1
324               Wallkill Town     27,940     0.0      16
325              Walton Village      3,012     0.0       0
326              Warsaw Village      3,453     0.0       0
327     Washingtonville Village      5,828     0.0       1
328  Waterford Town and Village      8,392     0.0       0
329            Waterloo Village      5,175     0.0       3
330                   Watertown     28,179     0.0      16
331                  Watervliet     10,245     1.0      11
332        Watkins Glen Village      1,862     0.0       0
333             Waverly Village      4,337     0.0       1
334    Webster Town and Village     43,777     0.0       3
335           Weedsport Village      1,797     0.0       0
336          Wellsville Village      4,574     0.0       0
337   Westhampton Beach Village      1,732     0.0       0
338            West Seneca Town     44,821     1.0       9
339           Whitehall Village      2,604     0.0       0
340                White Plains     57,559     1.0      28
341          Whitesboro Village      3,733     0.0       0
342             Whitestown Town      9,141     0.0       0
343               Woodbury Town     10,685     0.0       2
344           Woodridge Village        829     0.0       0
345              Woodstock Town      5,931     0.0       0
346                     Yonkers    199,134     6.0     390
347               Yorktown Town     36,643     0.0       2

[348 rows x 4 columns]

In [124]:
report.dtypes

City           object
Population     object
Murder        float64
Robbery        object
dtype: object

In [125]:
report['Robbery']=pd.to_numeric(report['Robbery'], errors='coerce',downcast='float')

In [126]:
report.dtypes

City           object
Population     object
Murder        float64
Robbery       float32
dtype: object

In [127]:
report['Murder']= np.where(report['Murder']>0,1,0)

In [128]:
report['Robbery']= np.where(report['Robbery']>0,1,0)

In [129]:
report.dropna()

                           City Population  Murder  Robbery
0                 Adams Village      1,861       0        0
1      Addison Town and Village      2,577       0        0
2                 Akron Village      2,846       0        0
3                        Albany     97,956       1        1
4                Albion Village      6,388       0        1
5                Alfred Village      4,089       0        1
6              Allegany Village      1,781       0        0
7                  Amherst Town    118,296       1        1
8            Amityville Village      9,519       0        1
9                     Amsterdam     18,182       0        1
10               Arcade Village      2,053       0        0
11              Ardsley Village      4,523       0        1
12            Asharoken Village        658       0        0
13               Attica Village      2,522       0        0
14                       Auburn     27,270       1        1
15                 Avon Village      3,333       0        1
16        Baldwinsville Village      7,473       0        1
17         Ballston Spa Village      5,418       0        1
18                      Batavia     15,374       0        1
19                 Bath Village      5,733       0        1
20                 Bedford Town     17,627       0        1
21               Bethlehem Town     34,243       0        1
22                   Binghamton     46,304       1        1
23                  Black River      1,410       0        0
24          Blooming Grove Town     12,001       0        0
25              Bolivar Village      1,022       0        0
26                  Bolton Town      2,325       0        0
27            Boonville Village      2,054       0        0
28                   Brant Town      2,065       0        1
29                     Brewster      2,358       0        0
..                          ...        ...     ...      ...
318         Tupper Lake Village      3,642       0        0
319         Tuxedo Park Village        615       0        0
320                 Ulster Town     12,195       0        1
321                       Utica     61,686       1        1
322                 Vestal Town     27,980       0        1
323              Walden Village      6,887       1        1
324               Wallkill Town     27,940       0        1
325              Walton Village      3,012       0        0
326              Warsaw Village      3,453       0        0
327     Washingtonville Village      5,828       0        1
328  Waterford Town and Village      8,392       0        0
329            Waterloo Village      5,175       0        1
330                   Watertown     28,179       0        1
331                  Watervliet     10,245       1        1
332        Watkins Glen Village      1,862       0        0
333             Waverly Village      4,337       0        1
334    Webster Town and Village     43,777       0        1
335           Weedsport Village      1,797       0        0
336          Wellsville Village      4,574       0        0
337   Westhampton Beach Village      1,732       0        0
338            West Seneca Town     44,821       1        1
339           Whitehall Village      2,604       0        0
340                White Plains     57,559       1        1
341          Whitesboro Village      3,733       0        0
342             Whitestown Town      9,141       0        0
343               Woodbury Town     10,685       0        1
344           Woodridge Village        829       0        0
345              Woodstock Town      5,931       0        0
346                     Yonkers    199,134       1        1
347               Yorktown Town     36,643       0        1

[348 rows x 4 columns]

In [130]:
report['Population'] = report['Population'].str.replace(",","").astype(float)

In [132]:
report.dtypes

City           object
Population    float64
Murder          int32
Robbery         int32
dtype: object

In [133]:
report

                           City  Population  Murder  Robbery
0                 Adams Village      1861.0       0        0
1      Addison Town and Village      2577.0       0        0
2                 Akron Village      2846.0       0        0
3                        Albany     97956.0       1        1
4                Albion Village      6388.0       0        1
5                Alfred Village      4089.0       0        1
6              Allegany Village      1781.0       0        0
7                  Amherst Town    118296.0       1        1
8            Amityville Village      9519.0       0        1
9                     Amsterdam     18182.0       0        1
10               Arcade Village      2053.0       0        0
11              Ardsley Village      4523.0       0        1
12            Asharoken Village       658.0       0        0
13               Attica Village      2522.0       0        0
14                       Auburn     27270.0       1        1
15                 Avon Village      3333.0       0        1
16        Baldwinsville Village      7473.0       0        1
17         Ballston Spa Village      5418.0       0        1
18                      Batavia     15374.0       0        1
19                 Bath Village      5733.0       0        1
20                 Bedford Town     17627.0       0        1
21               Bethlehem Town     34243.0       0        1
22                   Binghamton     46304.0       1        1
23                  Black River      1410.0       0        0
24          Blooming Grove Town     12001.0       0        0
25              Bolivar Village      1022.0       0        0
26                  Bolton Town      2325.0       0        0
27            Boonville Village      2054.0       0        0
28                   Brant Town      2065.0       0        1
29                     Brewster      2358.0       0        0
..                          ...         ...     ...      ...
318         Tupper Lake Village      3642.0       0        0
319         Tuxedo Park Village       615.0       0        0
320                 Ulster Town     12195.0       0        1
321                       Utica     61686.0       1        1
322                 Vestal Town     27980.0       0        1
323              Walden Village      6887.0       1        1
324               Wallkill Town     27940.0       0        1
325              Walton Village      3012.0       0        0
326              Warsaw Village      3453.0       0        0
327     Washingtonville Village      5828.0       0        1
328  Waterford Town and Village      8392.0       0        0
329            Waterloo Village      5175.0       0        1
330                   Watertown     28179.0       0        1
331                  Watervliet     10245.0       1        1
332        Watkins Glen Village      1862.0       0        0
333             Waverly Village      4337.0       0        1
334    Webster Town and Village     43777.0       0        1
335           Weedsport Village      1797.0       0        0
336          Wellsville Village      4574.0       0        0
337   Westhampton Beach Village      1732.0       0        0
338            West Seneca Town     44821.0       1        1
339           Whitehall Village      2604.0       0        0
340                White Plains     57559.0       1        1
341          Whitesboro Village      3733.0       0        0
342             Whitestown Town      9141.0       0        0
343               Woodbury Town     10685.0       0        1
344           Woodridge Village       829.0       0        0
345              Woodstock Town      5931.0       0        0
346                     Yonkers    199134.0       1        1
347               Yorktown Town     36643.0       0        1

[348 rows x 4 columns]

In [134]:
correlation_matrix = report.corr()
display(correlation_matrix)

            Population    Murder   Robbery
Population    1.000000  0.162309 -0.047467
Murder        0.162309  1.000000  0.283622
Robbery      -0.047467  0.283622  1.000000